{% extends 'base.html' %}
{% block title %}{{ article.title|striptags }} | {{ super() }}{% endblock title %}

{% block head_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.js"></script>
    <script>
        $(document).ready(function(){
            $(".container").fitVids();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <section class="post">
            <header class="post-header">
                <h3>{{ article.title }}</h3>
                <p class="post-meta">
                    {{ article.locale_date }} &middot; tagged 
                    {% for tag in article.tags %}
                        <a class="post-category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                    {% endfor %}
                </p>
            </header>
        </section>
        <section class="post-content">
            {{ article.content }}
        </section>
        {% if DISQUS_SITENAME %}
            {% include 'disqus.html' %}
        {% endif %}
        {% include 'footer.html' %}
    </div>
{% endblock  %}
